<h1 mat-dialog-title i18n="@@join.title">Join game</h1>

<form class="max-container-width" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2 class="text-center" i18n="@@join.name">Your name</h2>

  <mat-form-field class="center-placeholder">
    <input
      type="text"
      matInput
      formControlName="userName"
      class="text-center"
      autocomplete="name"
      name="userName"
      [maxlength]="maxUsernameLength"
    />
  </mat-form-field>

  <app-team-select [formGroup]="formGroup" [game]="data" />

  <div class="buttons-container">
    <button class="big-button" type="submit" mat-raised-button color="primary" cdkFocusInitial i18n="@@join.start_game">
      Start game
    </button>

    <button class="big-button" type="button" mat-button i18n="@@button.cancel" (click)="onCancel()">Cancel</button>
  </div>
</form>
