<section class="chat">
  <b class="chat-box-title" i18n="@@chat.chat">Chat box</b>

  @if (chatLines().length) {
    <div #chatHistory class="chat-history">
      @for (chatLine of chatLines(); track $index) {
        <div class="chat-line" [class.text-right]="chatLine.teamId === teamEnum.Mouse">
          <b [class]="chatLine.class">
            {{ chatLine.message }}
          </b>
        </div>
      }
    </div>
  }

  @if (canSendMessages()) {
    <form autocomplete="off" class="chat-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field class="do-not-use-red-for-invalid">
        <input type="text" matInput formControlName="message" autocomplete="off" [placeholder]="sendPlaceholder" />
        <button
          class="send-message-button"
          type="submit"
          mat-icon-button
          matSuffix
          color="primary"
          cdkFocusInitial
          [attr.aria-label]="sendLabel"
          [disabled]="isSubmitButtonDisabled()"
        >
          <lucide-icon class="button-icon" aria-hidden="true" [img]="sendIcon" />
        </button>
      </mat-form-field>
    </form>
  }
</section>
