<section class="home-hero">
  <div class="game-board logo-game-board" aria-label="Cats and Mouse logo board">
    @for (rowIndex of [0, 1, 2]; track rowIndex) {
      @for (columnIndex of [0, 1, 2, 3, 4, 5, 6, 7]; track columnIndex) {
        <app-chess-box [chessBox]="chessBoard[rowIndex][columnIndex]" />
      }
    }
  </div>

  <div class="wrapper">
    <h2 class="text-center game-description" i18n="@@home.description">Play cats & mouse online</h2>

    <div class="buttons-container">
      <button
        class="big-button"
        type="button"
        mat-raised-button
        color="primary"
        i18n="@@home.create_game"
        (click)="openCreateGameDialog()"
      >
        Create game
      </button>

      <button
        class="big-button"
        type="button"
        mat-raised-button
        i18n="@@home.how_to_play"
        (click)="openHowToPlayDialog()"
      >
        How to play
      </button>

      <button class="big-button" type="button" mat-raised-button (click)="openSelectLanguage()">
        <div class="button-with-right-icon">
          <div i18n="@@home.language">Language</div>
          <img alt="" width="20" height="20" [src]="'assets/images/flags/' + currentLanguageCode() + '.svg'" />
        </div>
      </button>
    </div>

    <h2 class="text-center games-title" i18n="@@home.join_game_description">Join an existing game</h2>

    @if (!games().length) {
      <div class="empty-games text-center secondary" i18n="@@home.no_games_available">0 available games</div>
    } @else {
      <div class="games-table-container">
        <table mat-table class="mat-elevation-z0" [dataSource]="games()">
          <ng-container matColumnDef="userName">
            <th *matHeaderCellDef mat-header-cell i18n="@@home.table.player">Player</th>
            <td *matCellDef="let element" mat-cell>
              <div class="player-cell">
                @if (element.teamId === teamEnum.Cats) {
                  <div class="cat-figure"></div>
                }
                @if (element.teamId === teamEnum.Mouse) {
                  <div class="mouse-figure"></div>
                }
                <div class="player-name secondary">
                  <b>{{ element.userName }}</b>
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="gameId">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell class="text-right">
              <button
                type="button"
                mat-raised-button
                color="primary"
                i18n="@@home.table.join"
                (click)="openJoinGameDialog(element.gameId)"
              >
                Join
              </button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="tableColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: tableColumns" mat-row></tr>
        </table>
      </div>
    }
  </div>
</section>
