.figure {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.mouse-figure {
  @extend .figure;
  background-image: url('../assets/images/pieces/mouse.svg');
}

.cat-figure {
  @extend .figure;
  background-image: url('../assets/images/pieces/cat.svg');
}
