@use 'functions' as *;

.small {
  font-size: small;
}

.primary {
  color: var(--primary-colour);
}

.secondary {
  color: var(--secondary-colour);
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.green {
  color: var(--success-colour);
}

.red {
  color: var(--error-colour);
}

.bg-green {
  background-color: var(--success-colour);
}

.wrapper {
  width: min(100%, px-to-rem(980px));
  margin: 0 auto;
  padding: 0 clamp(px-to-rem(16px), 4vw, px-to-rem(36px));
}

.mini-wrapper {
  padding: 0 px-to-rem(15px);
}

.max-container-width {
  width: min(100%, px-to-rem(420px));
  margin: 0 auto;
}

.mt-20 {
  margin-top: px-to-rem(20px);
}

.mt-30 {
  margin-top: px-to-rem(30px);
}

.f-c {
  display: flex;
  align-items: center;
}

.f-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-c-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-gap-10 {
  column-gap: px-to-rem(10px);
}

.col-gap-6 {
  column-gap: px-to-rem(6px);
}

.fit-content {
  width: fit-content !important;
}
