@if (!gameStatus()) {
  <div class="loading-state">
    <app-loader />
  </div>
} @else {
  <div class="play-container">
    <div class="game-container">
      <div class="wrapper">
        <div class="text-center turn-info">
          <div
            class="turn-info-header"
            [class.big-turn-info-header]="!gameInfo().subHeader"
            [class.Initial]="turnInfoState() === 'Initial'"
            [class.MyTurn]="turnInfoState() === 'MyTurn'"
            [class.TheirTurn]="turnInfoState() === 'TheirTurn'"
            [class.IWon]="turnInfoState() === 'IWon'"
            [class.ILost]="turnInfoState() === 'ILost'"
          >
            <span [class]="gameInfo().colourClass">{{ gameInfo().header }}</span>
          </div>

          @if (gameInfo().subHeader) {
            <div class="turn-info-subheader">
              {{ gameInfo().subHeader }}
            </div>
          }
        </div>
      </div>

      <div class="game-board">
        @for (rowIndex of boardIndexes; track rowIndex) {
          @for (columnIndex of boardIndexes; track columnIndex) {
            <app-chess-box
              [chessBox]="chessBoard()[rowIndex][columnIndex]"
              [chessBoxCurrentlySelected]="chessBoxCurrentlySelected()"
              (click)="onChessBoxClicked(rowIndex, columnIndex)"
            />
          }
        }
      </div>
    </div>

    <div class="options-container">
      <div class="options-buttons">
        <button type="button" class="how-to-play-btn" mat-button (click)="openHowToPlayDialog()">
          <div class="f-c-c col-gap-6">
            <mat-icon aria-hidden="true">help</mat-icon>
            <span i18n="@@play.how_to_play">how to play</span>
          </div>
        </button>

        @if (isRematchButtonVisible()) {
          <button
            type="button"
            mat-raised-button
            class="success-button"
            [disabled]="!isRematchButtonEnabled()"
            (click)="sendRematchRequest()"
          >
            <div class="f-c-c col-gap-6">
              <mat-icon aria-hidden="true">refresh</mat-icon>
              @if (isRematchButtonEnabled()) {
                <span i18n="@@play.rematch">rematch</span>
              } @else {
                <span i18n="@@play.rematch_awaiting">awaiting</span>
              }
            </div>
          </button>
        }

        @if (!isGameOver()) {
          <button type="button" mat-button color="warn" (click)="surrender()">
            <div class="f-c-c col-gap-6">
              <mat-icon aria-hidden="true">flag</mat-icon>
              <span i18n="@@play.surrender">surrender</span>
            </div>
          </button>
        } @else {
          <button type="button" mat-raised-button color="warn" (click)="exitGame()">
            <div class="f-c-c col-gap-6">
              <mat-icon aria-hidden="true">logout</mat-icon>
              <span i18n="@@play.exit">exit</span>
            </div>
          </button>
        }
      </div>

      <app-chat [gameId]="gameStatus()!.gameId" [canSendMessages]="!hasAnyPlayerLeft()" />
    </div>
  </div>
}
