<div class="text-center">
  @if (data.dialogTitle) {
    <h1>{{ data.dialogTitle }}</h1>
  }

  @if (data.dialogBody) {
    <p>
      {{ data.dialogBody }}
    </p>
  }

  <div class="buttons-container">
    <button
      class="big-button"
      type="button"
      mat-raised-button
      color="primary"
      cdkFocusInitial
      i18n="@@button.yes"
      (click)="onConfirmation()"
    >
      Yes
    </button>

    <button class="big-button" type="button" mat-button i18n="@@button.cancel" (click)="onCancel()">Cancel</button>
  </div>
</div>
