@if (canSelectTeam()) {
  <h2 class="text-center" i18n="@@select_team.select">Select a team</h2>
}

<div class="teams-container">
  <button
    type="button"
    class="team-box"
    [class.selected]="isMyTeamSelected(teamEnum.Cats)"
    [class.clickable]="canSelectTeam()"
    [class.opponent]="isOpponentTeamSelected(teamEnum.Cats)"
    [disabled]="!canSelectTeam()"
    (click)="selectMyTeam(teamEnum.Cats)"
  >
    <div class="image cat-figure"></div>
    <div class="name secondary">{{ getTeamName(teamEnum.Cats) || catsText }}</div>
  </button>

  <div class="versus"><b class="secondary">VS</b></div>

  <button
    type="button"
    class="team-box"
    [class.selected]="isMyTeamSelected(teamEnum.Mouse)"
    [class.clickable]="canSelectTeam()"
    [class.opponent]="isOpponentTeamSelected(teamEnum.Mouse)"
    [disabled]="!canSelectTeam()"
    (click)="selectMyTeam(teamEnum.Mouse)"
  >
    <div class="image mouse-figure"></div>
    <div class="name secondary">{{ getTeamName(teamEnum.Mouse) || mouseText }}</div>
  </button>
</div>
