@if (!isGameCreated()) {
  <h1 mat-dialog-title i18n="@@create.title">Create game</h1>

  <form class="max-container-width" autocomplete="off" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <h2 class="text-center" i18n="@@create.name">Your name</h2>

    <mat-form-field class="center-placeholder">
      <input
        type="text"
        matInput
        formControlName="userName"
        class="text-center"
        autocomplete="name"
        name="userName"
        [maxlength]="maxUsernameLength"
      />
    </mat-form-field>

    <app-team-select [formGroup]="formGroup" [game]="createdGame()" />

    <div class="buttons-container">
      <button
        class="big-button"
        type="submit"
        mat-raised-button
        color="primary"
        cdkFocusInitial
        i18n="@@create.create_game"
      >
        Create game
      </button>

      <button class="big-button" type="button" mat-button i18n="@@button.cancel" (click)="onCancel()">Cancel</button>
    </div>
  </form>
}

@if (isGameCreated()) {
  <div class="text-center">
    <h1 mat-dialog-title i18n="@@create.awaiting_title">Awaiting for another player</h1>
    <app-loader />

    @if (joinGameUrl()) {
      <div class="share-game">
        <p>
          <b class="secondary" i18n="@@create.share_link_description">Share this link to join your game</b>
        </p>

        <div class="share-actions">
          @for (shareLink of shareLinks(); track shareLink.label) {
            <button
              type="button"
              mat-raised-button
              [class]="'share-action ' + shareLink.className"
              (click)="onShareLinkClick(shareLink)"
            >
              {{ shareLink.label }}
            </button>
          }

          <button
            class="share-action copy-link"
            type="button"
            mat-raised-button
            cdkFocusInitial
            [class.link-copied]="isJoinGameLinkCopiedToClipboard()"
            [attr.aria-label]="copyLinkText"
            (click)="onCopyLinkClick()"
          >
            @if (!isJoinGameLinkCopiedToClipboard()) {
              <span i18n="@@create.copy_link">Copy link</span>
            } @else {
              <span i18n="@@create.copied">Copied!</span>
            }
          </button>
        </div>
      </div>
    }

    <button class="big-button" type="button" mat-button i18n="@@button.cancel" (click)="onCancelGame()">Cancel</button>
  </div>
}
