<div class="text-center">
  <h1 i18n="@@select-language.select">Select language</h1>

  <div class="buttons-container">
    @for (languageOption of languageOptions; track languageOption.code) {
      <button
        type="button"
        class="big-button language-button"
        mat-raised-button
        [color]="getLanguageButtonColor(languageOption.code)"
        (click)="selectLanguage(languageOption.code)"
      >
        <div class="button-with-right-icon language-button-content">
          <div>{{ languageOption.name }}</div>
          <img
            width="20"
            height="20"
            [src]="'assets/images/flags/' + languageOption.code + '.svg'"
            [alt]="languageOption.flagAlt"
          />
        </div>
      </button>
    }
  </div>
</div>
