<div class="box"
     [ngClass]="{
      'white': chessBox.colorId == chessBoxColorEnum.White,
      'black': chessBox.colorId == chessBoxColorEnum.Black,
      'box-with-figure-can-be-selected' : chessBox.canFigureBeSelected,
      'box-with-figure-is-selected' : chessBox.isFigureSelected,
      'box-can-be-new-figure-position': chessBox.canBeNewPositionForSelectedFigure,
      'mouse-figure': hasFigureOfType(figureTypeEnum.Mouse),
      'cat-figure': hasFigureOfType(figureTypeEnum.Cat)
     }">
     {{chessBox.text || ''}}
</div>
